.a{
	width: 1200px;
	height: 4100px;
	background-color:steelblue;
}
.b{
	width: 1200px;
	height: 500px;
	background-color:white;
}
.k{
	width: 500px;
	height: 500px;
	background-color:white;
	float: left;
}
.m{
	width: 500px;
	height: 100px;
	background-color: white;
	
}
.n{
	width: 600px;
	height: 400px;
	background-color:white;
	
}
.l{
	width: 700px;
	height: 500px;
	background-color:white;
	float: right;
}
.o{
	width: 500px;
	height: 500px;
	background-color:white;
	float: left;
}
.q{
	width: 500px;
	height: 50px;
	background-color:white;
	
}
.r{
	width: 500px;
	height: 150px;
	background-color:white;
	
}
.s{
	width: 500px;
	height: 270px;
	background-color:white;
	
}
.p{
	width: 200px;
	height: 500px;
	background-color:white;
	float: right;
}

.c{
	width: 1200px;
	height: 400px;
	background-color:steelblue;
}
.t{
	width: 1200px;
	height: 100px;
	background-color:steelblue;
}
.u{
	width: 1200px;
	height: 200px;
	background-color:red;
}
.vi{
	width: 200px;
	height: 200px;
	background-color:steelblue;
	float: left;
}
.ma{
	width: 200px;
	height: 200px;
	background-color:red;
	float: left;
}
.dh{
	width: 180px;
	height: 200px;
	background-color:red;
	float: left;
}
.step{
	width: 180px;
	height: 50px;
	background-color:red;
	
	
}
.vin{
	width: 90px;
	height: 50px;
	background-color:black;
	float: left;
	
}
.mad{
	width: 90px;
	height: 50px;
	background-color:red;
	float: right;
	
}

.pav{
	width: 180px;
	height: 150px;
	background-color:whitesmoke;
	
}

.us{
	width: 20px;
	height: 200px;
	background-color:steelblue;
	float: right;
}
.sr{
	width: 200px;
	height: 200px;
	background-color:red;
	float: left;
}
.in{
	width: 10px;
	height: 200px;
	background-color:steelblue;
	float: left;
}
.iv{
	width: 180px;
	height: 200px;
	background-color:whitesmoke;
	float: left;
}
.srin{
	width: 180px;
	height: 50px;
	background-color:red;
}
.vinay{
	width: 90px;
	height: 50px;
	background-color:red;
	float: left;
}
.madhu{
	width: 90px;
	height: 50px;
	background-color:blue;
	float: right;
}
.laas{
	width: 180px;
	height: 150px;
	background-color:whitesmoke;
}

.as{
	width: 10px;
	height: 200px;
	background-color:steelblue;
	float: right;
}


.ch{
	width: 200px;
	height: 200px;
	background-color:red;
	float: left;
}
.an{
	width: 10px;
	height: 200px;
	background-color:steelblue;
	float: left;
}

.akhi{
	width: 180px;
	height: 50px;
	background-color:red;
	
}
.kumar{
	width: 90px;
	height: 50px;
	background-color:green;
	float: left;
}
.sri{
	width: 90px;
	height: 50px;
	background-color:red;
	float: right;
	
}
.balla{
	width: 180px;
	height: 150px;
	background-color:whitesmoke;
	
}
.dh{
	width: 180px;
	height: 200px;
	background-color:whitesmoke;
	float: left;
}
.al{
	width: 10px;
	height: 200px;
	background-color:steelblue;
	float: right;
}
.ra{
	width: 200px;
	height: 200px;
	background-color:orange;
	float: left;
}
.ja{
	width: 10px;
	height: 200px;
	background-color:steelblue;
	float: left;
}
.ri{
	width: 180px;
	height: 200px;
	background-color:whitesmoke;
	float: left;
}
.bhar{
	width: 180px;
	height: 50px;
	background-color:red;
	
}
.polnati{
	width: 90px;
	height: 50px;
	background-color:red;
	float: left;
	
}
.kotikalpudi{
	width: 90px;
	height: 50px;
	background-color:yellow;
	float: right;
	
}
.tarun{
	width: 180px;
	height: 150px;
	background-color:whitesmoke;
	
}
.oo{
	width: 10px;
	height: 200px;
	background-color:steelblue;
	float: right;
}
.kr{
	width: 200px;
	height: 200px;
	background-color:yellow;
	float: right;
}
.is{
	width: 190px;
	height: 200px;
	background-color:steelblue;
	float: left;
}
.hn{
	width: 10px;
	height: 200px;
	background-color:steelblue;
	float: right;
}
.v{
	width: 1200px;
	height: 50px;
	background-color:steelblue;
}
.d{
	width: 1200px;
	height: 500px;
	background-color:orange;
}
.e{
	width: 1200px;
	height: 400px;
	background-color:pink;
}
.f{
	width: 1200px;
	height: 500px;
	background-color:black;
}
.g{
	width: 1200px;
	height: 400px;
	background-color:steelblue;
}
.h{
	width: 1200px;
	height: 500px;
	background-color:green;
}
.i{
	width: 1200px;
	height: 400px;
	background-color:orange;
}
.j{
	width: 1200px;
	height: 500px;
	background-color:palegreen;
}
.n img[src]{
	width: 700px;
	height: 400px;
}
input[type]{background-color: steelblue;
             width: 40px;
             height: 10px}
input[value]{allign:center;}


.vin img{
	width: inherit;
	height: inherit;
}
